@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-nav {
  @apply border-b bg-white shadow-sm;
}
.form-screen-warp {
  @apply font-sans min-h-screen antialiased bg-gray-100 pt-24 pb-5;
}
.form-warp {
  @apply w-full max-w-md bg-white shadow-md rounded px-8 py-8 pt-8 mx-auto;
}
.form-warp-error {
  @apply font-bold text-base text-center m-3 text-red-600;
}
.form-warp-title {
  @apply font-bold text-xl text-center mb-5;
}
.form-warp-label {
  @apply text-sm block font-bold pb-2;
}
.form-warp-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-blue-300;
}
.form-warp-input:focus {
  @apply focus:outline-none focus:ring focus:border-blue-300;
}
.button-submit {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}
.button-submit:focus{
  @apply focus:outline-none;
}